@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&5display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* We allow the user to zoom in on the page automatically */
/* 13px / 16px = -.813 = 81.3% */
/* .813 * 16px = 13px */
html {
    font-size: 81.3%;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
}