@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&5display=swap');

$color-primary-violet: hsl(263, 55%, 52%);
$color-primary-grayish-blue: hsl(217, 19%, 35%);
$color-primary-blackish-blue: hsl(219, 29%, 14%);
$color-primary-white: hsl(0, 0%, 100%);
$color-neutral-gray: hsl(0, 0%, 81%);
$color-neutral-grayish-blue: hsl(210, 46%, 95%);

$bg-color-avatar-violet-lighten: rgb(153, 98, 241);

$text-colors: (
    "light": hsl(0, 0%, 81%),
    "light-med-opacity": hsla(0, 0%, 81%, 50%),
    "light-high-opacity": hsla(0, 0%, 81%, 70%),
    "dark": hsl(219, 29%, 14%),
    "dark-med-opacity": hsla(217, 29%, 14%, 50%),
    "dark-high-opacity": hsla(217, 29%, 14%, 70%)
);

@function text-color($color) {
    @return map-get($text-colors, $color)
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* We allow the user to zoom in on the page automatically */
/* 13px / 16px = -.813 = 81.3% */
/* .813 * 16px = 13px */
html {
    font-size: 81.3%; //13px
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
    background-color: $color-neutral-grayish-blue;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.main {
    max-width: 1087px;

    & > div {
        padding: 1.8rem 2.4rem;
        border-radius: 0.615rem;
    }

    & > :nth-of-type(1),
    & > :nth-of-type(2),
    & > :nth-of-type(4) {
        color: text-color(light);
    }

    & > :nth-of-type(3),
    & > :nth-of-type(5) {
        color: text-color(dark);
    }

    & > :nth-of-type(5) {
        padding-right: 2.2rem; // To make the quotations same in the desktop-design.jpg
    }

    // 50% text-colors opacity
    & > :nth-of-type(1) &__graduates,
    & > :nth-of-type(2) &__graduates,
    & > :nth-of-type(4) &__graduates {
        color: text-color(light-med-opacity);
    }
    
    & > :nth-of-type(3) &__graduates,
    & > :nth-of-type(5) &__graduates {
        color: text-color(dark-med-opacity);
    }
    
    // 70% text-colors opacity
    & > :nth-of-type(1) &__quotations,
    & > :nth-of-type(2) &__quotations,
    & > :nth-of-type(4) &__quotations {
        color: text-color(light-high-opacity);
    }
    
    & > :nth-of-type(3) &__quotations,
    & > :nth-of-type(5) &__quotations {
        color: text-color(dark-high-opacity);
    }    

    &--grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.7rem 2.2rem;
    }

    &__daniel-card {
        background-color: $color-primary-violet;
        grid-column: 1 / 3;        
    }

    &__jonathan-card {
        background-color: $color-primary-grayish-blue;
    }

    &__jeanette-card {
        background-color: $color-primary-white;
    }

    &__patrick-card {
        background-color: $color-primary-blackish-blue;
        grid-column: 2 / 4;
    }

    &__kira-card {
        background-color: $color-primary-white;
        grid-column: 4 / 4;
        grid-row: 1 / 3;
    }

    &__name {
        font-size: 1rem;
    }

    &__graduates {
        font-size: .86rem;
    }

    &__span-paragraph {
        span {
            font-size: 1.5rem;
        }
    }

    &__quotations {
        font-size: 1rem;
    }
}

.flex {
    display: flex;
    align-items: center;

    &__image-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-right: 1rem;
    }

    &__image {
        border-radius: 3.846rem;
        width: 26px;
        height: 26px;
    }

    &--bg-color-avatar-1,
    &--bg-color-avatar-2 {
        border-radius: 3.846rem;
    }

    &--bg-color-avatar-1 {
        background-color: $bg-color-avatar-violet-lighten;
        width: 30px;
        height: 30px;
    }

    &--bg-color-avatar-2 {
        background-color: $color-primary-violet;
        width: 29px;
        height: 29px;
    }
}

//Todo's
//change all pxs to rems
//add box-shadows to all cards
//add margin-bottom to all elements inside the cards
//add line-height to text's
//decrease padding-bottom to card1 and card2
//lighten the circle avatar background color in the card1