@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&5display=swap');

$color-primary-violet: hsl(263, 55%, 52%);
$color-primary-grayish-blue: hsl(217, 19%, 35%);
$color-primary-blackish-blue: hsl(219, 29%, 14%);
$color-primary-white: hsl(0, 0%, 100%);
$color-neutral-gray: hsl(0, 0%, 81%);
$color-neutral-grayish-blue: hsl(210, 46%, 95%);

$bg-color-avatar-violet-lighten: rgb(153, 98, 241);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* We allow the user to zoom in on the page automatically */
/* 13px / 16px = -.813 = 81.3% */
/* .813 * 16px = 13px */
html {
    font-size: 81.3%; //13px
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
    background-color: $color-neutral-grayish-blue;
}

.main {

    & > div {
        padding: 2.4rem;
        border-radius: 0.615rem;
    }

    &--grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.7rem 2.2rem;
    }

    &__daniel-card {
        background-color: $color-primary-violet;
        grid-column: 1 / 3;        
    }

    &__jonathan-card {
        background-color: $color-primary-grayish-blue;
    }

    &__jeanette-card {
        background-color: $color-primary-white;
    }

    &__patrick-card {
        background-color: $color-primary-blackish-blue;
        grid-column: 2 / 4;
    }

    &__kira-card {
        background-color: $color-primary-white;
        grid-column: 4 / 4;
        grid-row: 1 / 3;
    }
}

.flex {
    display: flex;
    align-items: center;

    &__image-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
    }

    &__image {
        border-radius: 3.846rem;
        width: 26px;
        height: 26px;
    }

    &--bg-color-avatar-1,
    &--bg-color-avatar-2 {
        border-radius: 3.846rem;
    }

    &--bg-color-avatar-1 {
        background-color: $bg-color-avatar-violet-lighten;
        width: 30px;
        height: 30px;
    }

    &--bg-color-avatar-2 {
        background-color: $color-primary-violet;
    }
}